@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default, dark --prefersdark, halloween, caramellatte;
}
@plugin "daisyui/theme" {
    name: "halloween";
    default: true;
    --font-sans: "Roboto";
    --font-weight-normal: 400;
    --font-weight-bold: 700;
    --font-weight-extrabold: 800;
    --color-white: #ececec;
    --color-black: #030220;
    --color-orange-400: #e29128;
    --color-gray-800: #524b4b;
    --color-gray-400: #768d87;
    --shadow-xl: 0 10px 30px var(--color-orange-400);
    --radius-lg: 5px;
  }

@utility btn-neutral {
  color: var(--color-white);
  background-color: var(--color-gray-400);
}

@utility btn-active {
  color: var(--color-gray-800);
  background-color: var(--color-white)
}

@utility card {
  background-color: var(--color-white);
  color: var(--color-black);
  
}